TELEGRAM_BOT_TOKEN=8832243793:AAEy3u0BD-_pyI5QrBLIE8GOHxNZTYxCBZE
ADMIN_ID=5825181230
DEEPSEEK_API_KEY=sk-b7b1b286f54749889e7503b6494ac6e0
NVIDIA_API_KEY=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
DB_PATH=mysql://root:OjlRFNSuIIuietVenDQmeThUUFRwDssZ@thomas.proxy.rlwy.net:27871/railway
